*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul li, ul ol {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

button {
  cursor: pointer;
}

aside, header, nav, main, section, article, footer {
  display: block;
}

.column {
  float: left;
  width: 33.33%;
  padding: 3px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}